@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;

}
body {
 font-family: 'Montserrat', sans-serif;
 padding:0px !important;
 margin:0px !important;

}
.container {
  width: 70%;
}
@media (max-width: 800px) {
  .container {
    width: 100% !important;
  }
}
#home_body {
  background: #222222;
}
.nav-link {
  color: black !important;
}
    .home_nav {
        color: white !important;
    }

/* projectrs page */
.project_header {
  font-size: 25px;
  color: #5a5a5a;
  text-transform: uppercase;
}
.project_para {
  font-size: 18px;
  color: #5a5a5a;
}

/* talks page */
ul li {
  color: white;
  list-style-type: none;
  /* font-size: 26px; */
}
.first {
  font-size: 22px;
}
.others {
  font-size: 20px;
}
.postBody {
  text-align: justify;
  line-height: 35px;
  color: #4c4c4c;
 font-family: 'Montserrat', sans-serif;

}

/* home page */
.home {
  margin-top: 130px;
}
.hey {
  font-size: 30px;
}
.name {
  font-size: 40px;
}
.text {
  font-size: 16px;
  text-align: left;
}
.over {
  margin-top: 30px;
}
.icon {
    border:2px solid #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding-top:6px !important;
}
@media(max-width:750px) {
    .home {
  margin-top: 30px;
}
}


/* about us */
.about_img {
  background: url('images/abt.png');
  background-size:cover;
  background-position: center center;
  height:660px;
  width:95%;
  position: relative;
  bottom:90px;
}
.about_name {
  padding-top: 500px;

}
.about {
  margin:140px 50px 0px 50px;
}
.abt_header {
 text-align: center
}
.abt_para {
 text-align: justify;
}
@media(max-width:800px) {
 .about_img {
  background: url('images/abt.png');
  background-size:cover;
  background-position: center center;
  height:450px;
  width:100%;
  /* position: relative; */
  bottom:0px;
}
.about {
  margin:20px;
}
.about_name {
  padding-top: 300px;

}
}
@media(min-width:1024px) {
  .about_body {
    overflow: hidden;
}
}